[package]
name = "vifei-core"
version.workspace = true
edition.workspace = true
license.workspace = true

[dependencies]
blake3 = "1"
serde = { version = "1", features = ["derive"] }
serde_json = "1"

[dev-dependencies]
tempfile = "3"
